body {
  margin: 0;
  padding: 0 5vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

#app {
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
  max-height: 80vh;
}

.column {
  padding-right: 0;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0;
}
