body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #261f39;
  color: #f1f1f1;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

#app {
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
  max-height: 80vh;
  stroke: #f1f1f1;
}

a {
  color: #f1f1f1;
}
a:hover {
  background-color: #473b6b;
  color: #f1f1f1;
}
.nav-link:focus {
  border-color: #fea182;
}
.nav-tabs {
  border-bottom: 2px solid #473b6b;
}
.nav-tabs .nav-link:hover {
  background-color: #473b6b;
  color: #f1f1f1;
  border-color: #fea182;
}
.nav-tabs .nav-link:active {
  background-color: #473b6b;
  color: #f1f1f1;
  border-color: #fea182;
}

.list-group-item {
  background-color: #261f39;
  color: #f1f1f1;
  border-color: #473b6b;
}
.list-group-item-action:hover {
  background-color: #473b6b;
  color: #f1f1f1;
  border: 1px solid #fea182;
}
.list-group-item-action:focus {
  background-color: #473b6b;
  color: #f1f1f1;
}

.btn-primary {
  background-color: #261f39;
  color: #f1f1f1;
  border-color: #473b6b;
}
.btn-primary:hover {
  background-color: #473b6b;
  color: #f1f1f1;
  border-color: #fea182;
}
.btn-primary:disabled {
  background-color: #1b1d1e;
  color: #473b6b;
  border-color: #473b6b;
}
.table {
  color: #f1f1f1;
}

.table th,
.table td {
  border-top: 1px solid #473b6b;
}

.table thead th {
  border-bottom: 2px solid #473b6b;
}

select {
  background-color: #261f39;
  color: #f1f1f1;
  border-color: #473b6b;
}
