body {
  margin: 0;
  padding: 0 5vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #261f39;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

#app {
  width: 100%;
}

svg {
  width: 100%;
  height: auto;
  max-height: 80vh;
  stroke: #f1f1f1;
}

.list-group-item {
  background-color: #261f39;
  color: #f1f1f1;
  border-color: #473b6b;
}
.list-group-item-action:hover {
  background-color: #473b6b;
  color: #f1f1f1;
}

.btn-primary {
  background-color: #261f39;
  color: #f1f1f1;
  border-color: #473b6b;
}
.btn-primary:hover {
  background-color: #473b6b;
  color: #f1f1f1;
  border-color: #fea182;
}
